---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="top-header">
				<span>
					<img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.73/mercadolibre/logo_large_25years_v2.png" alt="">
				</span>
				<div class="input">
					<input type="text" placeholder="Escribe algo">
					<button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
					  </svg>
					  </button>
				</div>
				<span>publicidad</span>
			</div>

			<div class="bot-header">
				
			</div>
		</header>
		<div class="banner">

		</div>

		<div class="cards container">
			<div class="card">
				a
			</div>
			<div class="card">
				x
			</div>
			<div class="card">
				c
			</div>
			<div class="card">
				c
			</div>
			<div class="card">
				c
			</div>
			<div class="card">
				c
			</div>

		</div>
		<!-- <slot /> -->
	</body>
</html>
<style is:global>
	html, body{
		margin: 0;
		padding: 0;
		background-color: #F2F2F2
	}
	header {
		height: 80px;
		background: #e2d523;
		padding-top: 12px;
	}

	header img{
		width: 120px;
	}

	header input{
		box-sizing: border-box;
		display: inline;
		width: 80%;
		padding: 10px 8px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none;
		outline: none;
		background: #fff;
		height: 36px;
	}

	header button{
		display: inline;
		border: none;
		width: 32px;
		background: #fff;
		height: 36px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	button svg{
		stroke: red;
	}
	.input{
		display: flex;
		justify-content: center;
	}
	.banner{
		height: 280px;
		background: linear-gradient(to bottom, #e2d523 60%, #F2F2F2 100%);
	}

	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
	.cards{
		margin-top: -80px;
		height: 190px;
		/* background-color: purple; */
		display: flex;
		gap: 10px;


	}
	.card{
		/* min-width: 180px; */
		flex-grow: 1;
		background-color: #fff;
		border-radius: 6px;
	}

	.top-header{
		column-count: 3;
	}

	.top-header span{
		display: block;
	}
</style>
